@import url('https://fonts.googleapis.com/css?family=Krub');

html {
    scroll-behavior: smooth;
}

span {
    text-decoration: underline;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#logo-space {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

#logo-space img {
    height: 70px;
    width: auto;
    margin: .5em;
}

body {
    font-family: 'Krub', sans-serif;
}

h3 {
    text-align: center;
}

header, footer {
    color: white;
    background: #4b2e83;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0; 
}

h4 {
    font-size: 2vw;
}

#top {
    width: 100%;
    text-align: center;
    padding: 2rem;
    z-index: 99;
}

#footer {
    padding: 2em;
    margin-bottom: 0;
    text-align: center;
}

.project-info {
    color: white;    
    text-align: center;
    font-size: .7em;
    display:inline-block;
    width: 10rem;
    padding: .5em;
    height: auto;
}

.big-box a {
    text-align: center;
}

button {
    font-family: 'Krub', sans-serif;
}

section {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 1em;
}


#about-me {
    padding-bottom: 0;
}


a.rounded {
    margin-top: .5rem;
}

h1 {
    text-align: center;
    display: inline-block;
    margin: 1em;
    border-radius: 75%;
    padding: 1em;
    font-size: 6vw;
    background-color: rgba(75, 46, 131, .8);
    z-index: 999;
}

#header {
    display: flex;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.picture-container {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

#profile {
    opacity: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

hr {
    width: 25%;
    color: #85754d;
}

main {
    text-align: left;
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    flex: 1.5;
    text-align: center;
    padding: 2em;
    font-size: .8em;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.title {
    margin: 2em;
}

.big-box {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project-one {
    background-color: #e8e3d3;
}

#project-two {
    background-color: #85754d;
}

.project-card {
    border: 5px solid transparent;
}

#project-three {
    background-color: #d9d9d9;
}

#contact {
    text-align: center;
}

.boxes {
    font-weight: bold;
    height: 10em;
    width: 10em;
    display: flex;
    align-items: center;
    text-align: center;
}

.big-box a:hover {
    border-color: black;
}


.big-box a {
    color: black;
    background-color: #4b2e83;
    text-decoration: none;
}

.big-box p {
    margin: 0;
    padding: 1em;
}

header {
    margin-top: 3em;
    position: relative;
}

.hidden {
    display: none;
}

.word {
    opacity: 0;
    font-size: .8em;
}    

#about-hello p {
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#my-projects {
    padding-left: 0;
    padding-right: 0;   
}

.card-size {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

address {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#more {
    margin-top: 2em;
}

.contact-container {
    height: 2.5rem;
    background-color: #D2B48C; 
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

address a:hover {
    text-decoration: none;
}

.media {
    flex-direction: column;
    font-size: .8em;
} 

.media img {
    width: 30%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}

#written {
    display: none;
}

footer a {
    color: white;
}

footer a:hover, #about-me a:hover {
    color: #D2B48C;
}

div.contact-container:hover {
    border: 3px solid black;
}

#software-dev {
    margin-top: 2em;
}

@media (min-width: 600px) {
    
    #email {
        display: none;
    }

    #written span {
        text-decoration: none;
    }

    #written {
        color: white;
        border-radius: 30px;
        display: inline-block;
        background-color: #D2B48C; 
        padding: .7em 1em .7em 1em;
    }

    #more {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .media {
        font-size: 1em;
        align-items: center;
    }   

    #logo-space img {
        margin: 1em;
    }

    #logo-space {
        width: 70%;
    }

    #profile {
        width: 30%;
    }

    #intro {
        font-size: 1em;
    }
    
    a.rounded {
        margin: .5rem;
    }

    #me {
        font-size: 4vw;
    }

    .word {
        font-size: 1.0em;
    }

    #logo-space img {
        height: 70px;
    }

}


@media (min-width: 900px) {
    
    #written {
        padding: 1.2em;
    }

    #about {
        flex-direction: row;
    }

    .media {
        flex-direction: row;
    }

    .media img {
        width: 20%;
        margin-right: 2em;
    }

    #projects {
        justify-content: center;
    }

    #projects > div {
        flex: 1;
        margin-top: 2em; 
    }

    #projects {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #profile {
        width: 60%;
    }

    address {
        width: 50%;
    }

    #software-dev {
        margin-top: 0em;
    }

    #me {
        font-size: 3vw;
    }

    .contact-container {
        width: 4rem;
        height: 4rem;
    }

}

